@import "../var.css";


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 95vh;
}

.title {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    color: var(--ultra-violet, purple);
}

.login-form {
    width: 50%;
    min-width: 600px;
    max-width: 750px;
}

.login-input {
    width: 65%;
}

.sub-btn {
    margin: 2rem 0;
    width: 60%;
}

p a {
    display: inline;
}